{{#if hasBlock}}
  <label class="ember-radio-button {{if hasInnerSpan 'has-inner-span'}} {{if checked 'checked'}} {{joinedClassNames}}" for={{radioId}}>
    {{radio-button-input
        class=radioClass
        id=radioId
        disabled=disabled
        name=name
        required=required
        groupValue=groupValue
        value=value
        changed="changed"}}

    {{#if hasInnerSpan}}
      <span class="inner-span">
        {{yield}}
      </span>
    {{else}}
      {{yield}}
    {{/if}}
  </label>
{{else}}
  {{radio-button-input
      class=radioClass
      id=radioId
      disabled=disabled
      name=name
      required=required
      groupValue=groupValue
      value=value
      changed="changed"}}
{{/if}}
