<h3>Disabled flag</h3>
<p style="background-color: #F7F7F7;padding: 15px 20px;">
  <code>
    \{{#radio-button value=true groupValue=numbersDisabled}}<br>
      &nbsp;&nbsp;Disabled<br>
    \{{/radio-button}}<br>
    \{{#radio-button value=false groupValue=numbersDisabled}}<br>
      &nbsp;&nbsp;Enabled<br>
    \{{/radio-button}}<br>

    \{{#radio-button value="one" groupValue=number disabled=numbersDisabled}}<br>
      &nbsp;&nbsp;One<br>
    \{{/radio-button}}<br>
    \{{#radio-button value="two" groupValue=number disabled=numbersDisabled}}<br>
      &nbsp;&nbsp;Two<br>
    \{{/radio-button}}<br>
    \{{#radio-button value="three" groupValue=number disabled=numbersDisabled}}<br>
      &nbsp;&nbsp;Three<br>
    \{{/radio-button}}<br>
  </code>
</p>
<strong>Numbers Disabled:</strong> {{numbersDisabled}}
<strong>Number:</strong> {{number}}
<p>
  <RadioButton @name="disabled-example-toggle" @value={{true}} @groupValue={{numbersDisabled}}>
    Disabled
  </RadioButton>
  <RadioButton @name="disabled-example-toggle" @value={{false}} @groupValue={{numbersDisabled}}>
    Enabled
  </RadioButton>
</p>
<p>
  <RadioButton @name="disabled-example" @value="one" @groupValue={{number}} @disabled={{numbersDisabled}}>
    One
  </RadioButton>
  <RadioButton @name="disabled-example" @value="two" @groupValue={{number}} @disabled={{numbersDisabled}}>
    Two
  </RadioButton>
  <RadioButton @name="disabled-example" @value="three" @groupValue={{number}} @disabled={{numbersDisabled}}>
    Three
  </RadioButton>
</p>
