<h3>Basic Usage</h3>

<strong>Selected Color:</strong> {{this.color}}
<p>
  <RadioButton @name="basic-example" @value="green" @groupValue={{this.color}} @changed={{this.colorChanged}}>
    Green
  </RadioButton>
  <RadioButton @name="basic-example" @value="blue" @groupValue={{this.color}} @changed={{this.colorChanged}}>
    Blue
  </RadioButton>
</p>
