{{#if hasBlock}}
  <label class="ember-radio-button {{if checked checkedClass}} {{joinedClassNames}}" for={{radioId}}>
    {{radio-button-input
        class=radioClass
        id=radioId
        autofocus=autofocus
        disabled=disabled
        name=name
        required=required
        tabindex=tabindex
        groupValue=groupValue
        value=value
        ariaLabelledby=ariaLabelledby
        ariaDescribedby=ariaDescribedby
        changed=(action "changed")}}

    {{yield}}
  </label>
{{else}}
  {{radio-button-input
      class=radioClass
      id=radioId
      autofocus=autofocus
      disabled=disabled
      name=name
      required=required
      tabindex=tabindex
      groupValue=groupValue
      value=value
      ariaLabelledby=ariaLabelledby
      ariaDescribedby=ariaDescribedby
      changed=(action "changed")}}
{{/if}}
