{{#if hasBlock}}
  <label class="ember-radio-button {{if checked 'checked'}} {{joinedClassNames}}" for={{radioId}}>
    {{radio-button-input
        class=radioClass
        id=radioId
        disabled=disabled
        name=name
        required=required
        groupValue=groupValue
        value=value
        changed="changed"}}

    {{yield}}
  </label>
{{else}}
  {{radio-button-input
      class=radioClass
      id=radioId
      disabled=disabled
      name=name
      required=required
      groupValue=groupValue
      value=value
      changed="changed"}}
{{/if}}
